{% block pagination %}

{% if page_obj.paginator.num_pages > 1 %}
<nav aria-label="Page navigation example" >
  <ul class="pagination justify-content-center" >

        {% if page_obj.has_previous %}
    <li class="page-item">
      <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}
    </li>
      {% for i in page_obj.paginator.page_range %}
      {% if i == page_obj.number %}
      <li class="active" aria-current="page"><a class="page-link" href="?page={{i}}">{{ i }}</a></li>
      {% else %}
    <li class="page-item"><a class="page-link" href="?page={{i}}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
      {% if page_obj.has_next %}
    <li class="page-item">
      <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
    </li>
      {% endif %}
  </ul>
</nav>
{% endif %}
<style>
 .pagination li.active a {
  background-color: green;
  color: white;
}
 .pagination li.page-item a {
 background-color: white;
  color: green;
 }
</style>
{% endblock %}